.animeImage {
  height: 500px;

  &.withVideo {
    height: 240px;
  }
}

.animeListContainer {
  .animeItem {
    cursor: pointer;

    .animeThumbnail {
      width: 100px;
      height: 60px;
      object-fit: cover;
      border-radius: 8px;
    }
  }
}

.closeIcon {
  cursor: pointer;
  font-size: 30px;
}
