<anime-header></anime-header>
<div class="container">
  <router-outlet></router-outlet>
  <router-outlet name="details"></router-outlet>

  <!-- <anime-esercizi
    *ngIf="showing"
    [titleFiglio]="titlePadre"
    (commentEmitter)="getComment($event)"
    [listNumber]="list"
    (listNumberEmitter)="getListNumber($event)"></anime-esercizi> -->

  <!--<p>Cambia il titolo</p>
  <button class="btn btn-primary" (click)="changeTitle()">Cambia</button>
  <button [ngSwitch]="showing" (click)="show()">
    <label *ngIf="!showing" for>Mostra component</label>
    <label *ngIf="showing" for>Nascondi component</label>
  </button> -->
</div>

<!-- <p *ngFor="let item of list">{{ item }}</p> -->

<anime-footer *ngIf="false"></anime-footer>
